.messages {
    padding-left: 8px;
    overflow: auto;
    flex: auto;
}

.outerContainer, .outerContainer > div, .outerContainer > div > div:nth-child(2){
  width: 100%;
  height: 90%;
  display: flexbox;
}

.msg_grid {
  display: grid;
  position: relative;
  grid-template-columns: 50px 40px auto;
  padding-bottom: 4px;
  padding-top: 4px;
}
.msg_grid > div {
  white-space: nowrap;
}

.msg_grid:hover, .msg_grid.editing {
  background-color: rgba(0, 0, 0, 0.1);
}

.actions_overlay {
  position: absolute;
  top: -8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px;
  padding-left: 8px;
  padding-right: 8px;
  border-radius: 4px;
  visibility: hidden;
  z-index: 100;
  color: rgba(255, 255, 255, 0.7);
}

.actions_overlay i {
  padding: 6px
}


.msg_grid:hover .actions_overlay {
  visibility: visible;
}

.messageBox {
    background: #F3F3F3;
    border-radius: 10px;
    padding: 0px 10px;
    color: white;
    display: inline-block;
    max-width: 80%;
  }
  
  .messageText {
    width: 100%;
    letter-spacing: 0;
    float: left;
    font-size: 1.1em;
    word-wrap: break-word;
  }
  
  .messageText img {
    vertical-align: middle;
  }
  
  .messageContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 8px;
    margin-top: 4px;
  }
  
  .sentText {
    display: flex;
    align-items: center;
    font-family: Helvetica;
    color: #828282;
    letter-spacing: 0.3px;
  }
  
  .pl-10 {
    padding-left: 10px;
  }
  
  .pr-10 {
    padding-right: 10px;
  }
  
  .justifyStart {    justify-content: flex-start;  }
  .justifyEnd {    justify-content: flex-end;  }
  
  .colorWhite {    color: white;  }
  
  .colorDark {    color: #353535;  }
  
  .backgroundBlue {    background: #2979FF;  }
  
  .backgroundLight {    background: #F3F3F3;  }

  div.messageContainer p {
    margin-block-start: 8px;
    margin-block-end: 8px;
  }

  .edit_msg > div{
    font-size: 10px;
  }

  .edit_msg input {
    padding: 8px 12px 8px 12px;
    margin: 6px 0 4px 0;
    width: 99%;
  }
  .edit_msg input:focus {
    border: 0;
    box-shadow: none !important;
    outline: 0px !important;
  }

  .edit_msg button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: underline;
    display: inline;
    margin: 0;
    padding: 0 4px 0 4px;  /* top right bottom left */
    color: #98f;
  }